html {
  height: 100%;
  width: 100%;
}

h1 {
  color: black;
  font-family: "fantasy", Copperplate; 
}

#purpletopright {
  color: white;
  font-family: "fantasy", Copperplate ;
  font-size: 20px;
}
#blueleft {
  color: white;
  font-family: "fantasy", Copperplate ;
  font-size: 20px;
}
#bottomrightdarkblue {
  color: white;
  font-family: "fantasy", Copperplate ;
  font-size: 20px;
}
